page-bar-code-scanner {

}

.container-class {
    text-align: center;
    background: #0e1625;
}

input {
    color: #fff;
    background: transparent;
    outline: none;
    border: 2px solid #1ab188;
    padding: 16px;
    margin: 32px 0 0 0;
}

.seperator {
    margin: 16px 0;
    color: #fff;
}

.scan-button {
    margin-bottom: 8px;
}