page-bar-code-scanner {

}

.container-class {
    text-align: center;
    background: #0e1625;
}

input {
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
    width: 100px;
}

ion-icon {
    color: #1ab188;
}

.input-container {
    border: 2px solid #1ab188;
    padding: 8px;
    margin: 32px 0 0 0;
    width: 120px;
    display: inline-block;
}

.seperator {
    margin: 0 8px;
    color: #fff;
    display: inline-block;
}

.scan-button {
    display: inline-block;
    margin: 0;
    vertical-align: unset;
}

.submit-button {
    margin-top: 16px;
    padding: 16px;
    width: 80px;
}