// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

@font-face {
  font-family: panton;
  src: url(panton.otf);
}

@font-face {
  font-family: affogato;
  src: url(affogato.otf);
}

.main-title {
  font-family: panton;
  font-size: 6em;
  letter-spacing: 5px;
  color: #fff;
}

.sub-title {
  font-family: affogato;
  font-size: 2em;
  letter-spacing: 1.55px;
  color: #fff;
}

.text {
  font-family: affogato;
  font-size: 1.25em;
  letter-spacing: 1.55px;
  color: #fff;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1ab188,
  secondary:  #0e1625,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

.background {
  background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0,.7)), url('assets/imgs/homePage.jpg');
  background-size: 100% 100%;
}

.no-scroll .scroll-content{
    overflow: hidden;
}

$loading-ios-background: transparent;
$loading-md-background: $loading-ios-background;
$loading-wp-background: $loading-ios-background;
$loading-md-box-shadow: none;

$loading-ios-text-color: #fff;
$loading-md-text-color: $loading-ios-text-color;
$loading-wp-text-color: $loading-ios-text-color;


$loading-ios-spinner-color: #fff;
$loading-ios-spinner-ios-color: $loading-ios-spinner-color;
$loading-md-spinner-ios-color: $loading-ios-spinner-color;
$loading-wp-spinner-color : $loading-ios-spinner-color;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
